In [1]:
import numpy as np
import pandas as pd
import dask.dataframe as dd
from dask.distributed import Client, LocalCluster

from genomegenie.io import to_df, to_arrow, to_dask_df

In [19]:
pd.set_option("display.max_columns", 100)

In [2]:
vfname1 = "variant_calls/Sample_1_MuSE.vcf"
vfname2 = "variant_calls/Sample_1_Mutect2.vcf"
vfname3a = "variant_calls/Sample_1_Strelka.somatic.indels.vcf"
vfname3b = "variant_calls/Sample_1_Strelka.somatic.snvs.vcf"

In [5]:
ddf3a = to_dask_df(to_df(vfname3a, fields="*", samples=[0,1]))
ddf3b = to_dask_df(to_df(vfname3b, fields="*", samples=[0,1]))

In [6]:
ddf3a.columns, ddf3b.columns

(Index(['CHROM', 'POS', 'ID', 'REF', 'ALT', 'numalt', 'altlen', 'is_snp',
        'QUAL', 'FILTER_HighDepth', 'FILTER_LowDepth', 'FILTER_LowEVS',
        'FILTER_PASS', 'IC', 'IHP', 'MQ', 'MQ0', 'NT', 'OVERLAP', 'QSI',
        'QSI_NT', 'RC', 'RU', 'SGT', 'SOMATIC', 'SomaticEVS', 'TQSI', 'TQSI_NT',
        'NORMAL_BCN50', 'TUMOR_BCN50', 'NORMAL_DP', 'TUMOR_DP', 'NORMAL_DP2',
        'TUMOR_DP2', 'NORMAL_DP50', 'TUMOR_DP50', 'NORMAL_FDP50', 'TUMOR_FDP50',
        'NORMAL_SUBDP50', 'TUMOR_SUBDP50', 'NORMAL_TAR', 'TUMOR_TAR',
        'NORMAL_TIR', 'TUMOR_TIR', 'NORMAL_TOR', 'TUMOR_TOR'],
       dtype='object'),
 Index(['CHROM', 'POS', 'ID', 'REF', 'ALT', 'numalt', 'altlen', 'is_snp',
        'QUAL', 'FILTER_LowDepth', 'FILTER_LowEVS', 'FILTER_PASS', 'DP', 'MQ',
        'MQ0', 'NT', 'PNOISE', 'PNOISE2', 'QSS', 'QSS_NT', 'ReadPosRankSum',
        'SGT', 'SNVSB', 'SOMATIC', 'SomaticEVS', 'TQSS', 'TQSS_NT', 'NORMAL_AU',
        'TUMOR_AU', 'NORMAL_CU', 'TUMOR_CU', 'NORMAL_DP', 'TUMOR_DP',
        'NORMAL_FDP', 'TUMOR_FDP', 'NORMAL_GU', 'TUMOR_GU', 'NORMAL_SDP',
        'TUMOR_SDP', 'NORMAL_SUBDP', 'TUMOR_SUBDP', 'NORMAL_TU', 'TUMOR_TU'],
       dtype='object'))

In [7]:
set(ddf3a.columns).intersection(ddf3b.columns)

{'ALT',
 'CHROM',
 'FILTER_LowDepth',
 'FILTER_LowEVS',
 'FILTER_PASS',
 'ID',
 'MQ',
 'MQ0',
 'NORMAL_DP',
 'NT',
 'POS',
 'QUAL',
 'REF',
 'SGT',
 'SOMATIC',
 'SomaticEVS',
 'TUMOR_DP',
 'altlen',
 'is_snp',
 'numalt'}

In [14]:
common = ['CHROM', 'POS', 'ID', 'REF', 'numalt', 'QUAL', 'is_snp']

In [25]:
ddf3_1 = dd.merge(ddf3a, ddf3b, how="outer", on=common, suffixes=("_indel", "_snv"), indicator=True)

In [26]:
df3_1 = ddf3_1.compute()
df3_1.head(10)

,CHROM,POS,ID,REF,ALT_indel,numalt,altlen_indel,is_snp,QUAL,FILTER_HighDepth,FILTER_LowDepth_indel,FILTER_LowEVS_indel,FILTER_PASS_indel,IC,IHP,MQ_indel,MQ0_indel,NT_indel,OVERLAP,QSI,QSI_NT,RC,RU,SGT_indel,SOMATIC_indel,SomaticEVS_indel,TQSI,TQSI_NT,NORMAL_BCN50,TUMOR_BCN50,NORMAL_DP_indel,TUMOR_DP_indel,NORMAL_DP2,TUMOR_DP2,NORMAL_DP50,TUMOR_DP50,NORMAL_FDP50,TUMOR_FDP50,NORMAL_SUBDP50,TUMOR_SUBDP50,NORMAL_TAR,TUMOR_TAR,NORMAL_TIR,TUMOR_TIR,NORMAL_TOR,TUMOR_TOR,ALT_snv,altlen_snv,FILTER_LowDepth_snv,FILTER_LowEVS_snv,FILTER_PASS_snv,DP,MQ_snv,MQ0_snv,NT_snv,PNOISE,PNOISE2,QSS,QSS_NT,ReadPosRankSum,SGT_snv,SNVSB,SOMATIC_snv,SomaticEVS_snv,TQSS,TQSS_NT,NORMAL_AU,TUMOR_AU,NORMAL_CU,TUMOR_CU,NORMAL_DP_snv,TUMOR_DP_snv,NORMAL_FDP,TUMOR_FDP,NORMAL_GU,TUMOR_GU,NORMAL_SDP,TUMOR_SDP,NORMAL_SUBDP,TUMOR_SUBDP,NORMAL_TU,TUMOR_TU,_merge
0,chr1,1326471,.,GA,"(G, , )",1,"(-1, 0, 0)",False,NaN,False,False,False,True,10.0,12.0,60.000000,0.0,ref,False,31.0,31.0,11.0,A,ref->het,True,9.07,1.0,1.0,0.0,0.0,17.0,19.0,17.0,19.0,20.639999,22.469999,0.00,0.00,0.0,0.0,"(16, 16)","(14, 14)","(0, 0)","(4, 4)","(1, 1)","(1, 1)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,chr1,12853972,.,A,"(ACATG, , )",1,"(4, 0, 0)",False,NaN,True,False,True,False,1.0,2.0,50.470001,0.0,ref,False,27.0,27.0,0.0,CATG,ref->het,True,0.71,2.0,2.0,0.0,0.0,37.0,60.0,37.0,60.0,38.250000,55.830002,0.22,0.31,0.0,0.0,"(32, 33)","(41, 41)","(2, 2)","(9, 11)","(1, 0)","(10, 8)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,chr1,12891096,.,AG,"(A, , )",1,"(-1, 0, 0)",False,NaN,True,False,True,False,0.0,10.0,57.380001,0.0,ref,False,1.0,1.0,1.0,G,ref->ref,True,0.05,1.0,1.0,0.0,0.0,56.0,42.0,56.0,42.0,51.580002,40.849998,0.27,0.00,0.0,0.0,"(50, 50)","(36, 36)","(6, 6)","(4, 4)","(0, 0)","(3, 3)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,chr1,16891120,.,AATG,"(A, , )",1,"(-3, 0, 0)",False,NaN,True,False,False,False,0.0,3.0,42.000000,0.0,ref,False,44.0,44.0,1.0,ATG,ref->het,True,11.40,1.0,1.0,0.0,0.0,40.0,42.0,40.0,42.0,43.400002,44.389999,0.00,0.00,0.0,0.0,"(42, 42)","(37, 37)","(0, 0)","(4, 4)","(0, 0)","(3, 3)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,chr1,16944723,.,C,"(CA, , )",1,"(1, 0, 0)",False,NaN,False,False,True,False,3.0,2.0,60.000000,0.0,ref,False,1.0,1.0,2.0,A,het->het,True,0.10,1.0,1.0,0.0,0.0,18.0,26.0,18.0,26.0,22.020000,30.350000,0.00,0.00,0.0,0.0,"(15, 15)","(19, 19)","(3, 3)","(4, 4)","(0, 0)","(4, 4)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
5,chr1,16975912,.,CCCTGTT,"(C, , )",1,"(-6, 0, 0)",False,NaN,False,False,True,False,0.0,4.0,41.770000,0.0,ref,False,1.0,1.0,1.0,CCTGTT,het->het,True,0.05,1.0,1.0,0.0,0.0,10.0,40.0,10.0,40.0,11.960000,42.209999,0.00,0.00,0.0,0.0,"(9, 9)","(33, 33)","(2, 2)","(7, 7)","(0, 0)","(4, 4)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,chr1,17354373,.,GGAA,"(G, , )",1,"(-3, 0, 0)",False,NaN,True,False,True,False,7.0,4.0,60.000000,0.0,ref,False,33.0,33.0,8.0,GAA,ref->het,True,3.94,1.0,1.0,0.0,0.0,50.0,43.0,50.0,43.0,49.189999,39.099998,0.00,0.14,0.0,0.0,"(32, 32)","(25, 25)","(1, 1)","(6, 6)","(15, 15)","(12, 12)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
7,chr1,21133496,.,CT,"(C, , )",1,"(-1, 0, 0)",False,NaN,True,False,True,False,12.0,13.0,60.130001,0.0,ref,False,4.0,4.0,13.0,T,ref->het,True,0.22,1.0,1.0,0.0,0.0,55.0,31.0,55.0,31.0,58.310001,31.360001,0.00,0.00,0.0,0.0,"(41, 41)","(20, 20)","(6, 6)","(4, 4)","(8, 8)","(6, 6)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8,chr1,28149666,.,CTTG,"(C, , )",1,"(-3, 0, 0)",False,NaN,True,False,True,False,6.0,4.0,60.000000,0.0,ref,False,24.0,24.0,7.0,TTG,ref->het,True,3.32,1.0,1.0,0.0,0.0,46.0,36.0,46.0,36.0,46.480000,32.020000,0.00,0.00,0.0,0.0,"(31, 31)","(19, 19)","(0, 0)","(3, 3)","(16, 16)","(16, 16)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9,chr1,31732677,.,GA,"(G, , )",1,"(-1, 0, 0)",False,NaN,False,False,True,False,10.0,16.0,60.000000,0.0,ref,False,1.0,1.0,11.0,A,het->het,True,1.11,1.0,1.0,0.0,0.0,15.0,20.0,15.0,20.0,15.750000,18.270000,0.00,0.21,0.0,0.0,"(12, 12)","(14, 14)","(1, 1)","(5, 5)","(2, 2)","(1, 1)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [27]:
df3_1.sample(50)

,CHROM,POS,ID,REF,ALT_indel,numalt,altlen_indel,is_snp,QUAL,FILTER_HighDepth,FILTER_LowDepth_indel,FILTER_LowEVS_indel,FILTER_PASS_indel,IC,IHP,MQ_indel,MQ0_indel,NT_indel,OVERLAP,QSI,QSI_NT,RC,RU,SGT_indel,SOMATIC_indel,SomaticEVS_indel,TQSI,TQSI_NT,NORMAL_BCN50,TUMOR_BCN50,NORMAL_DP_indel,TUMOR_DP_indel,NORMAL_DP2,TUMOR_DP2,NORMAL_DP50,TUMOR_DP50,NORMAL_FDP50,TUMOR_FDP50,NORMAL_SUBDP50,TUMOR_SUBDP50,NORMAL_TAR,TUMOR_TAR,NORMAL_TIR,TUMOR_TIR,NORMAL_TOR,TUMOR_TOR,ALT_snv,altlen_snv,FILTER_LowDepth_snv,FILTER_LowEVS_snv,FILTER_PASS_snv,DP,MQ_snv,MQ0_snv,NT_snv,PNOISE,PNOISE2,QSS,QSS_NT,ReadPosRankSum,SGT_snv,SNVSB,SOMATIC_snv,SomaticEVS_snv,TQSS,TQSS_NT,NORMAL_AU,TUMOR_AU,NORMAL_CU,TUMOR_CU,NORMAL_DP_snv,TUMOR_DP_snv,NORMAL_FDP,TUMOR_FDP,NORMAL_GU,TUMOR_GU,NORMAL_SDP,TUMOR_SDP,NORMAL_SUBDP,TUMOR_SUBDP,NORMAL_TU,TUMOR_TU,_merge
14301,chr9,67302979,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",False,True,False,58.0,50.639999,0.0,het,NaN,NaN,1.0,1.0,0.22,AC->AC,0.00,True,0.00,1.0,1.0,"(9, 9)","(3, 3)","(21, 21)","(25, 25)",30.0,28.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
17105,chr11,64323539,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",False,True,False,30.0,60.000000,0.0,ref,NaN,NaN,2.0,2.0,0.13,CC->CC,0.00,True,0.98,1.0,1.0,"(0, 0)","(2, 2)","(10, 10)","(18, 18)",10.0,20.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
24316,chr17,40556145,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",False,True,False,67.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,-0.29,CC->CC,0.00,True,0.94,1.0,1.0,"(0, 0)","(2, 2)","(33, 33)","(32, 32)",33.0,34.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
28484,chr22,32113099,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",False,True,False,64.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,1.20,CC->CC,0.93,True,0.81,1.0,1.0,"(0, 0)","(2, 2)","(35, 35)","(27, 27)",35.0,29.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
9109,chr5,68716255,.,T,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(C, , )","(0, 0, 0)",False,True,False,95.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,-0.51,TT->TT,0.00,True,1.07,1.0,1.0,"(0, 0)","(0, 0)","(0, 0)","(2, 2)",61.0,34.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(61, 61)","(32, 32)",right_only
929,chr1,16894612,.,T,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(G, , )","(0, 0, 0)",False,True,False,317.0,50.400002,0.0,ref,NaN,NaN,60.0,60.0,0.10,TT->GT,0.00,True,3.92,1.0,1.0,"(0, 0)","(0, 0)","(0, 0)","(0, 0)",154.0,163.0,0.0,0.0,"(1, 1)","(8, 8)",0.0,0.0,0.0,0.0,"(153, 153)","(155, 155)",right_only
5684,chr2,223183575,.,G,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(T, , )","(0, 0, 0)",False,True,False,4.0,60.000000,0.0,ref,NaN,NaN,2.0,2.0,0.00,GG->GG,0.00,True,1.38,1.0,1.0,"(0, 0)","(0, 0)","(0, 0)","(0, 0)",2.0,2.0,0.0,0.0,"(2, 2)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(2, 2)",right_only
25284,chr18,31663104,.,A,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(G, , )","(0, 0, 0)",True,True,False,2.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,0.00,AA->AA,0.00,True,0.79,1.0,1.0,"(1, 1)","(0, 0)","(0, 0)","(0, 0)",1.0,1.0,0.0,0.0,"(0, 0)","(1, 1)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
10716,chr6,54636234,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",False,True,False,44.0,60.000000,0.0,ref,NaN,NaN,2.0,2.0,0.38,CC->CC,0.00,True,0.92,1.0,1.0,"(0, 0)","(2, 2)","(21, 21)","(21, 21)",21.0,23.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
19532,chr13,19756073,.,T,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(C, , )","(0, 0, 0)",False,True,False,8.0,60.000000,0.0,ref,NaN,NaN,2.0,2.0,-0.50,TT->TT,0.00,True,1.50,1.0,1.0,"(0, 0)","(0, 0)","(0, 0)","(6, 6)",1.0,7.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(1, 1)","(1, 1)",right_only
27475,chr20,44596151,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",False,True,False,58.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,1.43,CC->CC,0.00,True,0.31,1.0,1.0,"(1, 1)","(2, 2)","(24, 24)","(31, 31)",25.0,33.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
14269,chr9,44890026,.,T,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(C, , )","(0, 0, 0)",False,True,False,45.0,52.599998,0.0,ref,NaN,NaN,30.0,30.0,0.00,TT->CT,0.00,True,1.37,1.0,1.0,"(0, 0)","(0, 0)","(2, 2)","(3, 3)",24.0,21.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(22, 22)","(18, 18)",right_only
9909,chr5,177613244,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",False,True,False,221.0,60.000000,0.0,ref,NaN,NaN,23.0,23.0,-0.16,CC->AC,0.00,True,1.73,1.0,1.0,"(1, 1)","(4, 4)","(112, 112)","(103, 103)",114.0,107.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(1, 1)","(0, 0)",right_only
1615,chr1,46656225,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",False,True,False,67.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,-0.45,CC->CC,0.00,True,1.00,1.0,1.0,"(0, 0)","(2, 2)","(31, 31)","(34, 34)",31.0,36.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
18851,chr12,58153070,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",False,True,False,49.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,-0.96,CC->CC,0.00,True,0.84,1.0,1.0,"(0, 0)","(2, 2)","(23, 23)","(24, 24)",23.0,26.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
205,chr6,105733586,.,TC,"(T, , )",1,"(-1, 0, 0)",False,NaN,False,False,True,False,0.0,7.0,60.0,0.0,ref,False,1.0,1.0,1.0,C,het->het,True,5.24,1.0,1.0,0.0,0.0,5.0,11.0,5.0,11.0,6.72,12.76,0.0,0.0,0.0,0.0,"(5, 5)","(8, 8)","(0, 0)","(3, 3)","(0, 0)","(0, 0)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3854,chr1,244761728,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",False,True,False,45.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,0.00,CC->CC,0.00,True,0.88,1.0,1.0,"(0, 0)","(2, 2)","(17, 17)","(26, 26)",17.0,28.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
12246,chr7,98648365,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(G, , )","(0, 0, 0)",False,True,False,5.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,-1.22,CC->CC,0.00,True,0.84,1.0,1.0,"(0, 0)","(0, 0)","(2, 2)","(1, 1)",2.0,3.0,0.0,0.0,"(0, 0)","(2, 2)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
913,chr1,16890852,.,A,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(C, , )","(0, 0, 0)",False,True,False,76.0,55.230000,0.0,het,NaN,NaN,13.0,12.0,-1.95,AC->AA,4.68,True,0.00,1.0,1.0,"(18, 18)","(49, 49)","(5, 5)","(4, 4)",23.0,53.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
15614,chr10,64958204,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",True,True,False,3.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,0.00,CC->CC,0.00,True,1.11,1.0,1.0,"(0, 0)","(1, 1)","(2, 2)","(0, 0)",2.0,1.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
2121,chr1,115161002,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",False,True,False,65.0,60.000000,0.0,ref,NaN,NaN,2.0,2.0,-0.63,CC->CC,0.00,True,1.05,1.0,1.0,"(0, 0)","(2, 2)","(41, 41)","(22, 22)",41.0,24.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
28784,chr22,50702842,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",False,True,False,55.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,-0.74,CC->CC,0.00,True,1.07,1.0,1.0,"(0, 0)","(2, 2)","(23, 23)","(30, 30)",23.0,32.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
10550,chr6,41754431,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",True,True,False,2.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,0.00,CC->CC,0.00,True,0.70,1.0,1.0,"(0, 0)","(1, 1)","(1, 1)","(0, 0)",1.0,1.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
29443,chrX,132160232,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",False,True,False,40.0,60.000000,0.0,ref,NaN,NaN,2.0,2.0,0.80,CC->CC,0.00,True,1.00,1.0,1.0,"(0, 0)","(2, 2)","(18, 18)","(20, 20)",18.0,22.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
6527,chr3,52556073,.,G,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(T, , )","(0, 0, 0)",False,True,False,26.0,60.000000,0.0,ref,NaN,NaN,11.0,11.0,0.00,GG->GT,0.00,True,1.15,1.0,1.0,"(0, 0)","(0, 0)","(0, 0)","(0, 0)",11.0,15.0,0.0,0.0,"(11, 11)","(13, 13)",0.0,0.0,0.0,0.0,"(0, 0)","(2, 2)",right_only
16502,chr11,7686490,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",False,True,False,76.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,0.06,CC->CC,0.00,True,1.10,1.0,1.0,"(0, 0)","(2, 2)","(33, 33)","(41, 41)",33.0,43.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
16508,chr11,8125477,.,G,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(T, , )","(0, 0, 0)",False,True,False,47.0,60.000000,0.0,ref,NaN,NaN,3.0,3.0,0.27,GG->GG,0.00,True,1.00,1.0,1.0,"(0, 0)","(0, 0)","(0, 0)","(0, 0)",28.0,19.0,0.0,0.0,"(28, 28)","(17, 17)",0.0,0.0,0.0,0.0,"(0, 0)","(2, 2)",right_only
12358,chr7,101032262,.,T,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(C, , )","(0, 0, 0)",False,True,False,43.0,60.000000,0.0,ref,NaN,NaN,8.0,8.0,1.37,TT->CT,0.00,True,1.03,1.0,1.0,"(0, 0)","(0, 0)","(0, 0)","(2, 2)",21.0,22.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(21, 21)","(20, 20)",right_only
9469,chr5,133474688,.,G,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(T, , )","(0, 0, 0)",False,True,False,56.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,-1.52,GG->GG,0.00,True,0.89,1.0,1.0,"(0, 0)","(0, 0)","(0, 0)","(0, 0)",28.0,28.0,0.0,0.0,"(28, 28)","(26, 26)",0.0,0.0,0.0,0.0,"(0, 0)","(2, 2)",right_only
18274,chr12,10570695,.,A,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(G, , )","(0, 0, 0)",False,True,False,4.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,-1.22,AA->AA,0.00,True,0.45,1.0,1.0,"(1, 1)","(1, 1)","(0, 0)","(0, 0)",1.0,3.0,0.0,0.0,"(0, 0)","(2, 2)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
3528,chr1,213031448,.,G,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(C, , )","(0, 0, 0)",True,True,False,7.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,0.00,GG->GG,0.00,True,0.90,1.0,1.0,"(0, 0)","(0, 0)","(0, 0)","(1, 1)",6.0,1.0,0.0,0.0,"(6, 6)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
4706,chr2,97695291,.,G,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(T, , )","(0, 0, 0)",False,True,False,24.0,55.590000,0.0,ref,NaN,NaN,3.0,3.0,-0.73,GG->GG,0.00,True,0.15,1.0,1.0,"(0, 0)","(0, 0)","(0, 0)","(0, 0)",5.0,19.0,0.0,0.0,"(5, 5)","(17, 17)",0.0,0.0,0.0,0.0,"(0, 0)","(2, 2)",right_only
21220,chr15,34439758,.,A,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(T, , )","(0, 0, 0)",False,True,False,32.0,60.000000,0.0,ref,NaN,NaN,4.0,4.0,0.27,AA->AT,0.00,True,1.01,1.0,1.0,"(13, 13)","(17, 17)","(0, 0)","(0, 0)",13.0,19.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(2, 2)",right_only
18118,chr12,5025698,.,G,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(T, , )","(0, 0, 0)",False,True,False,69.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,0.56,GG->GG,0.00,True,1.14,1.0,1.0,"(0, 0)","(0, 0)","(0, 0)","(0, 0)",29.0,40.0,0.0,0.0,"(29, 29)","(38, 38)",0.0,0.0,0.0,0.0,"(0, 0)","(2, 2)",right_only
23143,chr16,81925085,.,G,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(T, , )","(0, 0, 0)",False,True,False,81.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,0.24,GG->GG,0.00,True,1.11,1.0,1.0,"(0, 0)","(0, 0)","(0, 0)","(0, 0)",34.0,47.0,0.0,0.0,"(34, 34)","(45, 45)",0.0,0.0,0.0,0.0,"(0, 0)","(2, 2)",right_only
14995,chr9,137772664,.,A,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(G, , )","(0, 0, 0)",False,True,False,19.0,60.000000,0.0,ref,NaN,NaN,6.0,6.0,-1.67,AA->AG,0.00,True,3.99,1.0,1.0,"(10, 10)","(2, 2)","(0, 0)","(0, 0)",11.0,8.0,0.0,0.0,"(1, 1)","(6, 6)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
15966,chr10,99626215,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",False,True,False,50.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,1.24,CC->CC,0.00,True,0.45,1.0,1.0,"(0, 0)","(2, 2)","(11, 11)","(37, 37)",11.0,39.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
16077,chr10,105169607,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",False,True,False,70.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,-0.56,CC->CC,0.00,True,0.92,1.0,1.0,"(0, 0)","(2, 2)","(39, 39)","(29, 29)",39.0,31.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
1645,chr1,47684903,.,G,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",False,True,False,69.0,60.000000,0.0,ref,NaN,NaN,2.0,2.0,-1.20,GG->GG,1.12,True,0.84,1.0,1.0,"(0, 0)","(1, 1)","(0, 0)","(0, 0)",46.0,23.0,0.0,0.0,"(46, 46)","(21, 21)",0.0,0.0,0.0,0.0,"(0, 0)","(1, 1)",right_only
13875,chr8,144886628,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(T, , )","(0, 0, 0)",False,True,False,19.0,60.000000,0.0,hom,NaN,NaN,1.0,1.0,0.53,CT->CT,0.00,True,0.00,1.0,1.0,"(0, 0)","(0, 0)","(0, 0)","(12, 12)",6.0,13.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(6, 6)","(1, 1)",right_only
19643,chr13,26535710,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",False,True,False,60.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,1.43,CC->CC,0.00,True,1.06,1.0,1.0,"(0, 0)","(2, 2)","(26, 26)","(32, 32)",26.0,34.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
2473,chr1,148004307,.,T,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(C, , )","(0, 0, 0)",False,True,False,107.0,43.570000,0.0,ref,NaN,NaN,8.0,8.0,-2.07,TT->CT,0.02,True,0.63,1.0,1.0,"(0, 0)","(0, 0)","(0, 0)","(3, 3)",35.0,72.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(35, 35)","(69, 69)",right_only
6774,chr3,107882549,.,G,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(C, , )","(0, 0, 0)",False,True,False,107.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,0.17,GG->GG,0.00,True,1.02,1.0,1.0,"(0, 0)","(0, 0)","(0, 0)","(2, 2)",55.0,52.0,0.0,0.0,"(55, 55)","(50, 50)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
4562,chr2,86333357,.,C,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(A, , )","(0, 0, 0)",False,True,False,45.0,60.000000,0.0,ref,NaN,NaN,1.0,1.0,-0.98,CC->CC,0.00,True,0.79,1.0,1.0,"(0, 0)","(2, 2)","(22, 22)","(21, 21)",22.0,23.0,0.0,0.0,"(0, 0)","(0, 0)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only
11952,chr7,56893620,.,G,NaN,1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(C, , )","(0, 0, 0)",False,True,False,37.0,41.240002,0.0,ref,NaN,NaN,3.0,3.0,-1.22,CG->CG,1.01,True,0.11,1.0,1.0,"(0, 0)","(0, 0)","(3, 3)","(3, 3)",17.0,20.0,0.0,0.0,"(14, 14)","(17, 17)",0.0,0.0,0.0,0.0,"(0, 0)","(0, 0)",right_only